force-app/main/default/flows/validaPgamaentoClienteCodigo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>addErro</name>
        <label>addErro</label>
        <locationX>451</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>showerror</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>codigoPagamento_screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Coidigo_Correto</name>
        <label>Coidigo Correto</label>
        <locationX>647</locationX>
        <locationY>464</locationY>
        <defaultConnector>
            <targetReference>addErro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NÃO</defaultConnectorLabel>
        <rules>
            <name>SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>codigoPagamento_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>validaCodigo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatePropostaFinalizada</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>validaCodigo</name>
        <dataType>Number</dataType>
        <expression> DAY({!getStatusPropostaCompra.Contact__r.Birthdate}) * MONTH({!getStatusPropostaCompra.Contact__r.Birthdate}) * YEAR({!getStatusPropostaCompra.Contact__r.Birthdate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>validaPgamaentoClienteCodigo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>validaPgamaentoClienteCodigo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getStatusPropostaCompra</name>
        <label>getStatusPropostaCompra</label>
        <locationX>660</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>codigoPagamento_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PropostaCompra__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updatePropostaFinalizada</name>
        <label>updatePropostaFinalizada</label>
        <locationX>785</locationX>
        <locationY>568</locationY>
        <connector>
            <targetReference>codigoCorreto_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Finalizada</stringValue>
            </value>
        </inputAssignments>
        <object>PropostaCompra__c</object>
    </recordUpdates>
    <screens>
        <name>codigoCorreto_screen</name>
        <label>codigoCorreto</label>
        <locationX>909</locationX>
        <locationY>568</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>codigoCorreto</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 255, 13);&quot;&gt;Código correto, a sua proposta está finalizada&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>codigoPagamento_screen</name>
        <label>Tela Pagamento</label>
        <locationX>656</locationX>
        <locationY>337</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Coidigo_Correto</targetReference>
        </connector>
        <fields>
            <name>codigoIncorreto</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 10, 10);&quot;&gt;Código está incorreto, verifique e tente novamente.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showerror</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>codigoPagamento_input</name>
            <dataType>String</dataType>
            <fieldText>Informe o código do pagamento.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>534</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>getStatusPropostaCompra</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showerror</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
