force-app/main/default/flows/ValidaCodigoAdocaoPet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Erro_codigo_incorreto</name>
        <label>Erro codigo incorreto</label>
        <locationX>492</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>showerror</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>codigoAdocao_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Codigo_Correto</name>
        <label>Código Correto?</label>
        <locationX>663</locationX>
        <locationY>460</locationY>
        <defaultConnector>
            <targetReference>Erro_codigo_incorreto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NÃO</defaultConnectorLabel>
        <rules>
            <name>SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>codigoAdocao_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetStatusAdocao.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusAdocao</targetReference>
            </connector>
            <label>SIM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ValidaCodigoAdocaoPet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ValidaCodigoAdocaoPet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetStatusAdocao</name>
        <label>Get Status da Adoção</label>
        <locationX>670</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>codigoAdocao_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Adocao__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateStatusAdocao</name>
        <label>Update Status Adoção</label>
        <locationX>842</locationX>
        <locationY>459</locationY>
        <connector>
            <targetReference>Sucess_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </inputAssignments>
        <object>Adocao__c</object>
    </recordUpdates>
    <screens>
        <name>codigoAdocao_Screen</name>
        <label>Informar o código da adoção</label>
        <locationX>671</locationX>
        <locationY>302</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Codigo_Correto</targetReference>
        </connector>
        <fields>
            <name>codigoIncorreto</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(237, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;Código está incorreto, verifique e tente novamente.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showerror</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>codigoAdocao_input</name>
            <dataType>String</dataType>
            <fieldText>Informe o código de adoção</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sucess_Screen</name>
        <label>Sucess Screen</label>
        <locationX>979</locationX>
        <locationY>459</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>codigoCorreto</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(59, 176, 5); font-size: 16px;&quot;&gt;Código correto, o seu pet está pronto para um novo lar&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetStatusAdocao</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>showerror</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
